.section-products {
  padding-bottom: 24px;
  padding-top: 24px;
  .box-header {
    padding-bottom: 24px;
    .box-title {
      @include font-size(28px);
      text-align: center;
      margin-bottom: 8px;
    }
    .box-desc {
      margin: 0 auto;
      line-height: 18px;
      text-align: center;
      @include font-size(14px);
      font-weight: 400;
      @include media-breakpoint-up(lg) {
        width: 70%;
      }
    }
  }
  .box-content {
    .card {
      margin: 12px;
      .card-img {
        width: 93%;
        height: 200px;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        margin-top: 12px;
      }
      .card-title {
        max-height: 50px;
        overflow: hidden;
      }
      img {
        border-radius: 0;
      }
    }
  }
  .product-list {
    .slick-slide {
      position: relative;
    }

    .product-item {
      height: auto;
    }
  }
}


