.block-news {
  .col-12 {
    &:first-child {
      .card {
        border-top: 0;
      }
    }
    @include media-breakpoint-up(md) {
      &:nth-child(2) {
        .card {
          border-top: 0;
        }
      }
    }
  }
  .card {
    border: 0;
    border-top: 1px solid #d8d8d8;
    padding-top: 12px;
    padding-bottom: 6px;
    @include flexbox;
    @include flex-direction(row);
    .card-img {
      width: 150px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .card-body {
      padding-left: 6px;
      padding-top: 4px;
      .card-title {
        margin-bottom: 0;
        a {
          text-decoration: none;
          @include font-size(16px);
          color: #000;
        }
      }

      .card-desc,.card-author {
        display: none;
      }
    }
  }
}
