.card-list {
  .card {
    &+.card {
      border-top: 1px dashed #ddd;
    }
    padding: 10px;
    border: 0;
    @include flexbox;
    @include flex-direction(row);
    .card-img {
      width: 100px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .card-body {
      margin-left: 6px;
      padding: 0;
      .card-title {
        @include font-size(16px);
        max-height: 73px;
        overflow: hidden;
        line-height: 24px;
        a {
          text-decoration: none;
          color: #000000;
          font-weight: 400;
        }
        @include hover-focus-active {
          a {
            color: $primary;
          }
        }
      }
      .card-price {
        display: none;
      }
    }
  }
}
.aside-menu {
  &.aside-menu-product {
    border: 1px solid #dee2e6;
    border-top: 2px solid $primary;
    .aside-menu-title {
      background-color: transparent;
      span {
        color: $primary;
        margin-left: -40px;
        padding-bottom: 6px;
        border-bottom: 2px solid $primary;
      }
    }
    .aside-menu-content {
      border: 0;
    }
    .card {
      .card-body {
        .card-title {
          @include font-size(13px);
          margin-bottom: 0;
          max-height: 62px;
          overflow: hidden;
          text-overflow: clip;
        }
        .card-price {
          display: block;
          .current-price {
            @include font-size(14px);
            color: $primary;
          }
          .original-price {
            display: none;
          }
        }
      }
    }
  }
}


