.section-cart {
  .cart-title {
    @include flex(1);
    overflow: hidden;
    max-height: 55px;
    .h5 {
      @include font-size(16px);
    }
  }

  .cart-quantity {
    width: 150px;
  }
}
.section-checkouts {
  .checkout-price {
    width: 100px;
    text-align: right;
  }
  .checkout-body {
    @include flex(1);
  }
}
