/* ==========================================================================
Content
========================================================================== */
.app-loading {
  display: none;
}
.main {
  margin-top: 189px;
  padding-bottom: 30px;
  @include media-breakpoint-up(lg) {
    margin-top: 111px;
    margin-top: 0;
  }
}

.btn-white {
  border: 1px solid $white;
  background-color: transparent;
  color: $white;
  font-weight: bold;
  @include hover {
    color: $primary;
    background-color: $white;
  }
}
