/* ==========================================================================
Header
========================================================================== */
.header-top {
  display: none;
  @include media-breakpoint-up(lg) {
    @include flexbox;
    background-color: $primary;
    .nav {
      @include justify-content(space-between);
    }
    .nav-item {
      @include flexbox;
      @include hover {
        .nav-link {
          color: $secondary;
        }
      }

      .nav-link {
        margin-top: auto;
        margin-bottom: auto;
        color: $white;
        @include font-size(13px);
        @include flexbox;
        display: block;
        padding-top: 20px;
        padding-bottom: 40px;
        padding-left: 24px;
        padding-right: 24px;
        font-weight: 500;

        i {
          @include font-size(20px);
        }

        span {
          margin-left: 8px;
        }
      }
    }
  }
}

.header-navbar {
  @include media-breakpoint-down(md) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $zindex-fixed;
  }
  background-color: $primary;

  .logo {
    width: 60px;
  }

  @include media-breakpoint-up(lg) {
    background-color: transparent;
    .bg-white {
      z-index: $zindex-fixed - 1;
      -moz-box-shadow: 0 0px 29px 0 rgba(0, 0, 0, 0.8);
      -webkit-box-shadow: 0 0px 29px 0 rgba(0, 0, 0, 0.8);
      box-shadow: 0 0px 29px 0 rgba(0, 0, 0, 0.8);
      @include border-radius(5px);
      margin-top: -18px;
    }

    .nav-item {
      &.active {
        .nav-link {
          color: $secondary;
        }
      }

      @include hover-focus-active {
        .nav-link {
          color: $primary;
        }
        .dropdown-menu {
          display: block;
        }
      }

      .nav-link {
        color: $white;
        @include font-size(10px);
        font-weight: 600;
        padding: 18px 8px;
        text-transform: uppercase;
      }
    }
    .form-inline {
      @include font-size(16px);

      .btn {
        color: $white;
        @include hover-focus-active {
          color: $secondary;
        }
      }

      .dropdown-user {
        .dropdown-menu {
          width: 300px;
          padding: 2px;
        }
      }
    }
    .dropdown-menu {
      .dropdown-item {
        @include hover-focus-active {
          background-color: transparent;
          color: $primary;
        }
      }
    }
  }
  @include media-breakpoint-up(xl) {
    .nav-item {
      .nav-link {
        color: $primary;
        @include font-size(14px);
        font-weight: 600;
        padding: 18px 8px;
        text-transform: uppercase;
      }
    }
  }
}

.navbar-toggler-sidebar {
  display: block;
  color: $white;
  @include hover-focus-active {
    color: $white;
  }
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.body-fixed {
  .header {
    .header-navbar {
      right: 0;
      left: 0;
      top: 0;
      background-color: $white;
      z-index: $zindex-fixed;
      position: fixed;
      padding-top: 16px;
      -moz-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.35);
      -webkit-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.35);
      box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.35);

      .navbar {
        &.bg-white {
          background-color: transparent;
          -moz-box-shadow: 0 0px 0px 0 transparent;
          -webkit-box-shadow: 0 0px 0px 0 transparent;
          box-shadow: 0 0px 0px 0 transparent;
        }
      }

    }
  }
}
.header-navbar {
  .dich-vu-ky-thuat {
    .dropdown-menu {
      .dropdown-item {
        @include hover {
          color: $success;
        }
      }
    }
  }
  .dich-vu-suc-khoe {
    .dropdown-menu {
      .dropdown-item {
        @include hover {
          color: $primary;
        }
      }
    }
  }
  .dich-vu-dao-tao {
    .dropdown-menu {
      .dropdown-item {
        @include hover {
          color: $warning;
        }
      }
    }
  }
}

